# {{ ansible_managed }}

AuthorizedKeysFile      .ssh/authorized_keys
PubkeyAuthentication yes

PasswordAuthentication no
PermitEmptyPasswords no

AllowAgentForwarding yes

Subsystem       sftp    sftp-server.exe
