# {{ ansible_managed }}

ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIPuP99/RyDJm70PbTJohAhChlasuzOE3FeGQ6LhAUUw4 kradalby@kramacbook
ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDgA8MMy7PgTjRkbyysKHyITfyQTAX0V18ZwBhMzuCnhf1Mb5swyPuMkXcBCEiMzk69dBzGtX/vw+BCaj74TGeOpRSYZJf8rcRlmUZgljuE7ul6yNexE4J+MBzlfn096EgYNKBMgxoOGeRi6+pTaGAyv8/EV1reveExiwdVsOMkwAIlsukDqOAwr2Iv2MgTFZQL8hjAlCm0EGpSPpO1xdbE7JAL5l+YggYnctHClCeRXK7iLzT2boEjv+bnKYy0LQa1pmZffwPnshMUHk9cSiLCs1Cm4Lu8dCIRQvSdKNm7uv8TONc4n8ZWca230DblCO6MarrxXEjI7zdu+hTR/ktl kradalby@kramac

{% if hostname == 'snorlax' %}
ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCir3xs52uznK1N1fHaA3Iu9gAw3t1HGplDjRpvoQcBX7ZSaD5gJW+pMUe4Yq4xZ6bLxuZeQv7FUNzlRffWSmw3dyOGCH21bx4cn6AoKZ23bqqMO1jkthc/VGt+AltmUvtCB/eWrt1cNKDRs0XOpcjPV5fEIYAC/QtpfVkisTIeEd/h6RGdFlWk9jMYo5ZDzhSgUx/0K7wYYTtFDx7+S8SKkqQsMcInbVxjOvNnUSZy0pQ2K+fgqk40H2pKes3iqbD0Gfk5Ha12uPTO8dociIYLJoCp7dMKcMFNY9ulxE/qPvzq0HWqldFCDGxTz83ay8oEqAnHrXM+K2cMTbgv/Fvp kristine@Kristines-MacBook-Air.local
{% endif %}
