# {{ ansible_managed }}

ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIPuP99/RyDJm70PbTJohAhChlasuzOE3FeGQ6LhAUUw4 kradalby@kramacbook
ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDgA8MMy7PgTjRkbyysKHyITfyQTAX0V18ZwBhMzuCnhf1Mb5swyPuMkXcBCEiMzk69dBzGtX/vw+BCaj74TGeOpRSYZJf8rcRlmUZgljuE7ul6yNexE4J+MBzlfn096EgYNKBMgxoOGeRi6+pTaGAyv8/EV1reveExiwdVsOMkwAIlsukDqOAwr2Iv2MgTFZQL8hjAlCm0EGpSPpO1xdbE7JAL5l+YggYnctHClCeRXK7iLzT2boEjv+bnKYy0LQa1pmZffwPnshMUHk9cSiLCs1Cm4Lu8dCIRQvSdKNm7uv8TONc4n8ZWca230DblCO6MarrxXEjI7zdu+hTR/ktl kradalby@kramac

{% if hostname == 'snorlax' %}
ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCir3xs52uznK1N1fHaA3Iu9gAw3t1HGplDjRpvoQcBX7ZSaD5gJW+pMUe4Yq4xZ6bLxuZeQv7FUNzlRffWSmw3dyOGCH21bx4cn6AoKZ23bqqMO1jkthc/VGt+AltmUvtCB/eWrt1cNKDRs0XOpcjPV5fEIYAC/QtpfVkisTIeEd/h6RGdFlWk9jMYo5ZDzhSgUx/0K7wYYTtFDx7+S8SKkqQsMcInbVxjOvNnUSZy0pQ2K+fgqk40H2pKes3iqbD0Gfk5Ha12uPTO8dociIYLJoCp7dMKcMFNY9ulxE/qPvzq0HWqldFCDGxTz83ay8oEqAnHrXM+K2cMTbgv/Fvp kristine@Kristines-MacBook-Air.local
ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQD0NaphXXGIIKOCVP5HTDN6BTp3595QI/wYwuXYDcimLcn+zPX6SxOj4kytaEhmGCDmiYo7wweoZl3IJP1H2eHgdSdW51BKWD2vTRQbB/f8AvvtasAK7GytiiVtbfPchMa+8GA2wqpogzmV4GZh/wwNZYx6yG6ty7LpBqG/i7SCcqLzAYQsS7q8XpSJwl+9XHMJ/QcO4qphJ52T/809Td9bvQhZHfzvRK3KiPGDJdBysBk0lr+Ub9VpMVM9KAb4pOPN0cCP9Cs6bNoy4ff+oMu53BKkAYhmAq7D81vMJSkQrz2Ma5cxQlsgnfS9wXuacpP8hLihbeU7u6Y7A+pY2XOaNOI2Wmm1+xT8q+C2K3cMbWBqvpENc9/4J/R9HqYA9SkrNtHmj27baSsjRWqp73hyQbT6zBV6bgzGvtMd2ky+16KHt5BIjYzL5OpqxwZbCbDA2WjCyG3IMIhhE3zNje0zEksWB/AahZS53lE/XtvvXF/O8ohv+0vV7nJ11o6qwekjUnOHk/SrbQkqDCvytT1ODCohozunYfPT8PXtmaRYe1aA5v5B0gLQCmIkca0Cqs4fDGOmIzXtqm/Ug3fx2qJ02LmNO9V+NFjIWNaK9ajV21m5qLC8misIiduR81JUwGRbzvVnqq3mZxwNZVrpGMKFWpxgFbwOMO4GJ7QpyI35fQ== anders@Anderss-MacBook-Air.local
{% endif %}
