# {{ ansible_managed }}

# kramacbook
ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIBV4ZjlUvRDs70qHD/Ldi6OTkFpDEFgfbXbqSnaL2Qup

# kramac
ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDgA8MMy7PgTjRkbyysKHyITfyQTAX0V18ZwBhMzuCnhf1Mb5swyPuMkXcBCEiMzk69dBzGtX/vw+BCaj74TGeOpRSYZJf8rcRlmUZgljuE7ul6yNexE4J+MBzlfn096EgYNKBMgxoOGeRi6+pTaGAyv8/EV1reveExiwdVsOMkwAIlsukDqOAwr2Iv2MgTFZQL8hjAlCm0EGpSPpO1xdbE7JAL5l+YggYnctHClCeRXK7iLzT2boEjv+bnKYy0LQa1pmZffwPnshMUHk9cSiLCs1Cm4Lu8dCIRQvSdKNm7uv8TONc4n8ZWca230DblCO6MarrxXEjI7zdu+hTR/ktl

# gravler - Lenovo
ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDC6rDgeDiXV1/qnGtGC2oTy3h6Plirz329Su1jROkRcBu05Ktbs5U8lInf1xxrnkLYXj9kv/GUdOp8J3V6KzeQarqq6iwuQaKU4ArsKgp9KWyzjLoRG+SymnfoIjM6FE8sYNaTN+THkZjteOrvytRUpUWYKmucX5dJX3CDCQy3XoNFGALBkI8iljfBQ68HmAFXiUW3T1qnXxNaTjzX+78WRdQVmZpizfRvlna2zZxDaU05a3QMI5re/OpNtPaO7cGfyaAjbxE/dTnfmgMi+A0iJuugsiRvOTbsmtxsdeCbAqs1tSUTs8c3hjqVDvBbA6wlNHUmJ3hG87kHBOqsjS9P

# Arcanine
ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIBvkfHWOsYbcE3Is9nzdduAkyuKQqGf1yaH4h/psw48b

# Metapod - Backup
ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAINRssAvPckQgqRN6swNqA7/prnQkD1dz5cKTltuF+MMH root@metapod

{% if hostname == "gengar" %}
# Weedle - Deployment
#
## studlan containers
ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCp4oUMwWZ3jjq0QZhegiUqaulDJT8mzMrklVIU9fcajUK79tzsx8iYl/83oKv1FRq4K7BKDKAVHeVjesrOsztRv6K2ybZa8wt3irwBlqeeCJ/UYLqTswEqzL8iyPljYv6dhrAAKTAVk4ioIxgFNEhJSeMfWYqzPQaEtclHdYEC6/AVPFW++a7Y1U0FtGiFeDeEIjEM21jTAXg5dGzF+QohexsiKHyHi3HKj7SOKfbaSyDUrM0bJwuwuZPZlu6Q8B3s2nBBr4zAMcIaoRbw5urQBJsEV5++Mn/4XLPVcTBkAEWIc4pg1JACjviLk0ygrZergt9/vUwfw/QwvnxrdO1B

## Aspargesgaarden
ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDM6hF9eAcYFj5bacUqZfwjEjfgrXu0DcMyxC3BWv4GasSQH9fpign9M8EHdwGz7lt4tDbIopB5q0SW6Mh4q3sENxrXT/bVT+EL0F14pWMAeqqzgMldJIk1NWF9ULIYkqy+LhNKsaerKFBYXoHsvqqiTddrigYhaqRC8ahxEnEU1A10jYgxYNqjtPc1y82BcE/ehuaZBdVmLwj9zqDZCte7ICDExB1W/JxQsIlJqgAQWNoOD76HuGfWIMapIjyz7OMxsc87FcFzStO7HniUe/D5a67Z07rF+16Fw6jne35THd9gK5Rmo8Kbo/Aw+laSbkAoHII6nrmUU8ehNl3Z/liH

{% endif %}

{% if hostname == "pidgeot" %}
# Weedle - Deployment
# kavik
ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCuvWEkk2EOlN2jjwovd8PpFezJ19/5WGl3zky1LPvN569DeLewyC2BfH1klNuEn2n9KzAFcZg4TfWQdZOnkOiwOcps+0sRhl05L6ysXcQdJghUE/xax1bQ7xwM+TurVHq6unGQBczFf/4HTII0nqrNPcTbVYz5emPNU/Md2kN0cB0ScCjRf0itOeHF+nTzBzt3U0GglIHUfAvKQZjgAlJufUVI85/m94OZubLwy+FsrOX797BFNeV7WwK5RhgBnaYgef1b88HhqMtiirxXN5RcPQDyeE5fkS7kj6aq08k/qNVinyqE48F1h6vB8rCvKZ5GZtQxbWHyUj+V6YW7x1Qj

# mailpimp
ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCzzfn0E19W5gDt/cUUml1mpBOyxPRf1N0iF+IHUURInt2PPXpEBKDpwCZPxWJkF16IwIcJGJ1yxOUupnKlPp7W2uFl4J3j8vSqGPtC5DOrFUuO4pIon7fZJJQjSFaT/jK5opgP1BTeTb/dBmngbsMvZCRZWct+VN97bzeooGd25uPT2HzMnT0cnTTKNJpFkjVhuEUSY6YSQZo3qvXvN+Q5z2Q04mHbZsv+RpOoLVw3r1tEhOv5jwliTrSH79/e/qRPC/uS7WEbGyhwWcb0m9UfJe66eCgBjsgdKSbRuR0TSLqFCgzjnXXjvLX5wOhOweQXnklw3ZgYOBD8fgeWCB+t
{% endif %}

{% if hostname == "shellder" %}
# Iver
ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIA2ZE5/E7hzolWiSYH3p/rw3+WjJ7XTA49MI3k43trPP
{% endif %}
