# {{ ansible_managed }}

# kramacbook
ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIPuP99/RyDJm70PbTJohAhChlasuzOE3FeGQ6LhAUUw4 kradalby@kramacbook

# kramac
ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDgA8MMy7PgTjRkbyysKHyITfyQTAX0V18ZwBhMzuCnhf1Mb5swyPuMkXcBCEiMzk69dBzGtX/vw+BCaj74TGeOpRSYZJf8rcRlmUZgljuE7ul6yNexE4J+MBzlfn096EgYNKBMgxoOGeRi6+pTaGAyv8/EV1reveExiwdVsOMkwAIlsukDqOAwr2Iv2MgTFZQL8hjAlCm0EGpSPpO1xdbE7JAL5l+YggYnctHClCeRXK7iLzT2boEjv+bnKYy0LQa1pmZffwPnshMUHk9cSiLCs1Cm4Lu8dCIRQvSdKNm7uv8TONc4n8ZWca230DblCO6MarrxXEjI7zdu+hTR/ktl kradalby@kramac

# gravler
ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDC6rDgeDiXV1/qnGtGC2oTy3h6Plirz329Su1jROkRcBu05Ktbs5U8lInf1xxrnkLYXj9kv/GUdOp8J3V6KzeQarqq6iwuQaKU4ArsKgp9KWyzjLoRG+SymnfoIjM6FE8sYNaTN+THkZjteOrvytRUpUWYKmucX5dJX3CDCQy3XoNFGALBkI8iljfBQ68HmAFXiUW3T1qnXxNaTjzX+78WRdQVmZpizfRvlna2zZxDaU05a3QMI5re/OpNtPaO7cGfyaAjbxE/dTnfmgMi+A0iJuugsiRvOTbsmtxsdeCbAqs1tSUTs8c3hjqVDvBbA6wlNHUmJ3hG87kHBOqsjS9P kradalby@gravler

# Arcanine 
ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIBvkfHWOsYbcE3Is9nzdduAkyuKQqGf1yaH4h/psw48b kradalby@arcanine

# Metapod - Backup
ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAINRssAvPckQgqRN6swNqA7/prnQkD1dz5cKTltuF+MMH root@metapod

{% if hostname == "gengar" %}
# Weedle - Deployment
ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDHvKmC5pC3BHoKzk25Cbs/ZRGDh451aFMUL0HO/gEAjoL1/wSOkoJhf0WrWAC9ICRT6P/+OM5934jT4PaAByPBaguaRR9ClYEctPQmA4LgQ7JX+XJ3zmmXKHdYmLmjFPmJphEiNSbsu0DKZ94wVyQfLtFeF7u2olp84T9PxKO2HHtQCF+dRsehY5prYT8OJp4ktg5rM6pLij16NHE0f7DLOnwMLc2egjiBoeaInw0vgqixlTMYXllLuVXHsiZ4KFrs/aKcbK5HPH4PxKxq8j2oH6jcPm4KX23Bo0gua6ryV6xEEbQ3zD6e69zBNTtFtUMWlm9anLcOoQWxEhOsnD27
ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC3vumP9dZ7QFkZZUpL4lvssTK5hCVB+T0oIdu7NLPJQsSKoSBuz+k3snp5Utns0uIhyU/hGJE+AplZWlMuH2OledfvajY92OstUbDuzarffx+BwzHEh40tkATEpq7LKSWJ0xiYmXyQXKtjsiv4EaebLhIMdrvFClKuxUtnE0lx953qFllIXTjsIL0N4G7NqvCzJ72hy2dQXpi809G70YL75vZHP3SafIoenoxOhdhuQM2rDNIxf8fgZbbaOKQP3dDmj5KdxkHKupg2kn6fu4AiQ7FMQn++7T2WdrVaiJyWf4tjOCdWG3IS3N/9AfTgPQd0ndtbxHSh7lKvrYgohljj
ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCZU1CPvjbUTRmmvUEH2Hv7ElMCGkIrZL5WypR1EHeESjz1KCRD/CiWOEeQgFHm0/nNVNF/LJHHhJnkxUVEBi2z/EtYE9+SN5toIEVsdLvsf7CxHSXbSr387IKVjMdKxWSLzBH3lfJiJssL/fymgbcw/OCso8XlFybiti5dN4IEZvdzvAeJatzJF9lI5KIs3jUkXdVYaqmduO4MIh2zizdo/xFO4gOdUYf8hqAvhvbHYcMpUv0ounlks+5M78oCsqdmV/OGNQenUNinnDxxfJ96M5y37kfORWVxXPGg/92LmSI6itSSnZm7U8E5rErxODE+IW22rKCP+afl0xDaHLSp
ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDWvrYxhdPTzplQqW9wUwr2qaUaStFEaJc4CaurWu0CU/z5MH26RJXWuTYeVH1TVbMRhhQvX0wPuHq+thxhTNrQdUjJsVm+EIqkgz4chjOg84vtfSo9KKAhHU9qX52b588RjircPv+0/smWjFPpH7QygpVgaAPWlrqMonxT2unGWZko1fo6EzjUhhjC5zirdrVN1PNNaV3JBVrBRl0SBZf7JLJtn7CArJOyXMxLD2/1bdYbz65M8bFwN1FqXnk+eR6sbAjbLQXMXPAJ9EUhDr+3OMkp4jwA2cbqR6gwcSrAWw35I/8VsizbXVa/sDomY3YWAivXWvufOWubF7t1H+oZ
ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDCTRblEa3GOASuw1TdLnWBStoLjdXUIAONwucbwp6xxOQqqbu8fekqQpn3KeVZzZlfERPUA+koHQVHhX0CUIO+XlvDc4Mpt+WRYXd/r2p6DttQ0u7LcxqKdsxel1H5ZJnmVc1TMFHf72cCKYJObWyXeOd8Qhni3mtZ9SFRye05U3/HRjukXvaTczXuaLLpnvCsnzp7ij9ObFctMKyCxi9tPsH9UdHSxXw0iiVRhhmYhCs+gKmq6RS1vIBPLZtfgWlMHBVt1cLq3srFJWnxbzJwZlWxGRHx1isV7MNJAT05Ih3SWtIXfb6auS5z5F14V6kTUwJLZ3Y3NmnANl8+5B2l
ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCzlQzJRQCMenPIKUbMnK/MryYxXpJ1O47ixpfljcvZ6v6+NHjJtFhIYF7/IYJ7+gW2tQMX+r5qWu7MgNB2+Irs9uAU7h6dGH2dMmJhLc1d1xrbm5cdfDuuXqjAeqWr2EhIEyNJx8nLDflY6XEkq8ECLZ0DYx2wNNKW9A0EulWBaLouNeMvPH61x/i3cnDTCC1DJcjblFly43zqo8HgcMXvuq7T9mcYJTZWPicOtnTpdBA+kT2bu35T6EHlH/VfemPpzOXEcn9w/4QWxbYv4eIJFPrJXiqxkd7R1mRQXyy3Tn0RtcE9jlkrNlkqIJoXoK/ewh2wVbmggUqtGJuzDwUF
{% endif %}

{% if hostname == "pidgeot" %}
# Weedle - Deployment
ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDWvrYxhdPTzplQqW9wUwr2qaUaStFEaJc4CaurWu0CU/z5MH26RJXWuTYeVH1TVbMRhhQvX0wPuHq+thxhTNrQdUjJsVm+EIqkgz4chjOg84vtfSo9KKAhHU9qX52b588RjircPv+0/smWjFPpH7QygpVgaAPWlrqMonxT2unGWZko1fo6EzjUhhjC5zirdrVN1PNNaV3JBVrBRl0SBZf7JLJtn7CArJOyXMxLD2/1bdYbz65M8bFwN1FqXnk+eR6sbAjbLQXMXPAJ9EUhDr+3OMkp4jwA2cbqR6gwcSrAWw35I/8VsizbXVa/sDomY3YWAivXWvufOWubF7t1H+oZ
ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCxXiCxz/Y1TztEvK2SH7o0OLiavfXpEUIEi6Kt1BSuiLsRZRljIZ9/yTuiqB5iCOJYYIWdHdR67DJTSpjwJBDRLrb0s0s4kFvCSrXbm/tSFiB8UL9UVf9XAWRf32YaNwAsDKIWXgUc9LGq9BMx82YYSg/Rcf+kEOVaOMeJ+IMOxkAMHOihjMKdklayZC5nJUQUrxNg6ial3jGw5lJFwfnzG2TbKHs9UV5t7lqtNbSANCdBYYUoRzP066VIih+bV9D/LzHMH1rvF32/vYij+Ng/n+2ocwxSUJS4KTr6rL22t+qljM3DLnX/rdHYJTvRc80UEZH/lHwEWjJ8rkZBniFf
{% endif %}

{% if hostname == "shellder" %}
# Iver
ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIA2ZE5/E7hzolWiSYH3p/rw3+WjJ7XTA49MI3k43trPP iver@iverbook.local
{% endif %}
