{
  "network": {
    "servers": [ "10.0.1.20:5000" ],
    "timeout": 300,
    "ssl ca": "/etc/pki/tls/certs/logstash-forwarder.crt"
  },
  "files": [
    {
      "paths": [
        "/var/log/syslog",
        "/var/log/auth.log",
        "/var/log/messages"
       ],
      "fields": { "type": "syslog" }
    },
    {
      "paths": [
        "/var/log/mail.log"
       ],
      "fields": { "type": "postfix" }
    },
    {
      "paths": [
        "/var/log/mongodb/*.log"
       ],
      "fields": { "type": "mongodb" }
    },
    {
      "paths": [
        "/var/log/postgresql/*.log"
       ],
      "fields": { "type": "postgresql" }
    },
    {
      "paths": [
        "/var/log/mailpimp.log"
       ],
      "fields": { "type": "mailpimp" }
    },
    {
      "paths": [
        "/var/log/uwsgi/app/*.log"
       ],
      "fields": { "type": "uwsgi" }
    },
    {
      "paths": [
        "/var/log/nginx/*.log"
       ],
      "fields": { "type": "nginx" }
    }
   ]
}
