<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>code-server</string>
    <key>ProgramArguments</key>
    <array>
      <string>/usr/local/bin/fish</string>
      <string>-c</string>
      <string>{{ ansible_env.HOME }}/bin/code-server --auth none --bind-addr 0.0.0.0:8080 --disable-telemetry</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>WorkingDirectory</key>
    <string>{{ ansible_env.HOME }}</string>
    <key>StandardOutPath</key>
    <string>{{ ansible_env.HOME }}/log/code-server/info.log</string>
    <key>StandardErrorPath</key>
    <string>{{ ansible_env.HOME }}/log/code-server/error.log</string>
  </dict>
</plist>
