# {{ ansible_managed }}

deb mirror://mirrors.ubuntu.com/mirrors.txt {{ ansible_distribution_release }} main restricted
# deb-src mirror://mirrors.ubuntu.com/mirrors.txt {{ ansible_distribution_release }} main restricted

deb mirror://mirrors.ubuntu.com/mirrors.txt {{ ansible_distribution_release }}-updates main restricted
# deb-src mirror://mirrors.ubuntu.com/mirrors.txt {{ ansible_distribution_release }}-updates main restricted

deb mirror://mirrors.ubuntu.com/mirrors.txt {{ ansible_distribution_release }} universe
# deb-src mirror://mirrors.ubuntu.com/mirrors.txt {{ ansible_distribution_release }} universe
deb mirror://mirrors.ubuntu.com/mirrors.txt {{ ansible_distribution_release }}-updates universe
# deb-src mirror://mirrors.ubuntu.com/mirrors.txt {{ ansible_distribution_release }}-updates universe

deb mirror://mirrors.ubuntu.com/mirrors.txt {{ ansible_distribution_release }} multiverse
# deb-src mirror://mirrors.ubuntu.com/mirrors.txt {{ ansible_distribution_release }} multiverse
deb mirror://mirrors.ubuntu.com/mirrors.txt {{ ansible_distribution_release }}-updates multiverse
# deb-src mirror://mirrors.ubuntu.com/mirrors.txt {{ ansible_distribution_release }}-updates multiverse

deb mirror://mirrors.ubuntu.com/mirrors.txt {{ ansible_distribution_release }}-backports main restricted universe multiverse
# deb-src mirror://mirrors.ubuntu.com/mirrors.txt {{ ansible_distribution_release }}-backports main restricted universe multiverse

deb http://archive.canonical.com/ubuntu {{ ansible_distribution_release }} partner
# deb-src http://archive.canonical.com/ubuntu {{ ansible_distribution_release }} partner

deb http://security.ubuntu.com/ubuntu {{ ansible_distribution_release }}-security main restricted
# deb-src http://security.ubuntu.com/ubuntu {{ ansible_distribution_release }}-security main restricted
deb http://security.ubuntu.com/ubuntu {{ ansible_distribution_release }}-security universe
# deb-src http://security.ubuntu.com/ubuntu {{ ansible_distribution_release }}-security universe
deb http://security.ubuntu.com/ubuntu {{ ansible_distribution_release }}-security multiverse
# deb-src http://security.ubuntu.com/ubuntu {{ ansible_distribution_release }}-security multiverse
