[Unit]
Description=socat mDNS sender service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
RuntimeMaxSec=10800
User=root
ExecStart=/usr/local/bin/socat_mdns_sender.sh

[Install]
WantedBy=multi-user.target
