# {{ ansible_managed }}

Port 22
Protocol 2
HostKey /etc/ssh/ssh_host_ed25519_key
HostKey /etc/ssh/ssh_host_rsa_key

UseDNS no

KexAlgorithms curve25519-sha256@libssh.org,diffie-hellman-group-exchange-sha256
Ciphers chacha20-poly1305@openssh.com,aes256-gcm@openssh.com,aes128-gcm@openssh.com,aes256-ctr,aes192-ctr,aes128-ctr
MACs hmac-sha2-512-etm@openssh.com,hmac-sha2-256-etm@openssh.com,hmac-ripemd160-etm@openssh.com,umac-128-etm@openssh.com,hmac-sha2-512,hmac-sha2-256,hmac-ripemd160,umac-128@openssh.com

UsePrivilegeSeparation yes

KeyRegenerationInterval 3600
ServerKeyBits 2048

SyslogFacility AUTH
LogLevel INFO

LoginGraceTime 120
PermitRootLogin without-password
StrictModes yes

RSAAuthentication yes
PubkeyAuthentication yes

IgnoreRhosts yes
RhostsRSAAuthentication no
HostbasedAuthentication no

PermitEmptyPasswords no
ChallengeResponseAuthentication no
PasswordAuthentication yes

AuthorizedKeysFile      /etc/ssh/keys/%u.pub

AllowAgentForwarding yes
AllowTcpForwarding yes
AllowStreamLocalForwarding yes
X11Forwarding no

PrintMotd no
TCPKeepAlive no


{% if ansible_os_family == 'FreeBSD' %}
Subsystem sftp /usr/libexec/sftp-server
{% else %}
Subsystem sftp /usr/lib/openssh/sftp-server
PrintLastLog yes
{% endif %}

UsePAM yes

{% if inventory_hostname == "seel" %}
# Match User prokom
#     PasswordAuthentication yes
#     ChrootDirectory %h
#     ForceCommand internal-sftp
#     AllowTcpForwarding no
#     AllowAgentForwarding no
#     PermitTunnel no
#     PermitTTY no
#     X11Forwarding no

Match User kradalby
    AuthenticationMethods keyboard-interactive
{% endif %}
