# {{ ansible_managed }}

Port 22
Port 21337
Port 22222
Protocol 2
HostKey /etc/ssh/ssh_host_ed25519_key
HostKey /etc/ssh/ssh_host_rsa_key


KexAlgorithms curve25519-sha256@libssh.org,diffie-hellman-group-exchange-sha256,diffie-hellman-group1-sha1

Ciphers chacha20-poly1305@openssh.com,aes256-gcm@openssh.com,aes128-gcm@openssh.com,aes256-ctr,aes192-ctr,aes128-ctr

MACs hmac-sha2-512-etm@openssh.com,hmac-sha2-256-etm@openssh.com,hmac-ripemd160-etm@openssh.com,umac-128-etm@openssh.com,hmac-sha2-512,hmac-sha2-256,hmac-ripemd160,umac-128@openssh.com


UsePrivilegeSeparation yes

KeyRegenerationInterval 3600
ServerKeyBits 2048

SyslogFacility AUTH
LogLevel INFO

LoginGraceTime 120
PermitRootLogin without-password
StrictModes yes

RSAAuthentication yes
PubkeyAuthentication yes

IgnoreRhosts yes
RhostsRSAAuthentication no
HostbasedAuthentication no

PermitEmptyPasswords no
ChallengeResponseAuthentication no
PasswordAuthentication yes

AuthorizedKeysFile      /etc/ssh/keys/%u.pub

AllowAgentForwarding yes
AllowTcpForwarding yes
{% if ansible_os_family == "Debian" %}
AllowStreamLocalForwarding yes
{% endif %}
X11Forwarding no

PrintMotd no
PrintLastLog yes
TCPKeepAlive no

AcceptEnv LANG LC_*

{% if ansible_os_family == "Debian" %}
Subsystem sftp /usr/lib/openssh/sftp-server
{% elif ansible_os_family == "FreeBSD" %}
Subsystem sftp /usr/libexec/sftp-server
{% endif %}

UsePAM yes

Match Group sftp
    ChrootDirectory %h
    ForceCommand internal-sftp
    AllowTcpForwarding no
