# {{ ansible_managed }}

{
    email kradalby@kradalby.no
    http_port 40080
    https_port 40443
    admin 0.0.0.0:2019
}

(cf) {
    tls {
        dns cloudflare {env.CLOUDFLARE_API_TOKEN}
    }
}

(local_only) {
    @external {
        not remote_ip forwarded 10.0.0.0/8 127.0.0.1
    }
    respond @external "Unauthorized" 403 {
    	close
    }
}

import /etc/caddy/Caddyfile.d/*
