[Unit]
Description=Rest Server
After=syslog.target
After=network.target

{% if mounts is defined %}
{% for mount in mounts %}
After={{ mount.path | path_to_systemd_mount }}
Requires={{ mount.path | path_to_systemd_mount }}
{% endfor %}
{% endif %}

[Service]
Type=simple
User=restic
Group=restic
ExecStart=/usr/local/bin/rest-server \
  --path {{ restic_rest_server_base_directory }} \
  --no-auth \
  --listen :{{ restic_rest_server_port }} \
  --prometheus
Restart=always
RestartSec=5

# Optional security enhancements
NoNewPrivileges=yes
PrivateTmp=yes
ProtectSystem=strict
ProtectHome=yes
ReadWritePaths={{ restic_rest_server_base_directory }}

[Install]
WantedBy=multi-user.target
